<div class="logout-wrapper">
  <button (click)="logout()">{{'LOGOUT' | translate}}</button>
</div>

<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
  <label>{{'DESCRIPTION' | translate}}</label>
  <input type="text" formControlName="description" />

  <label>{{"DEADLINE" | translate}}</label>
  <input type="date" formControlName="deadline" />

  <label>{{"PRIORITY" | translate}}</label>
  <select formControlName="priority">
    <option value="low">{{"LOW" | translate}}</option>
    <option value="medium">{{"MEDIUM" | translate}}</option>
    <option value="high">{{"HIGH" | translate}}</option>
  </select>

  <button type="submit" [disabled]="taskForm.invalid">{{"ADD_TASKS" | translate}}</button>
</form>

