<div class="logout-wrapper">
  <button (click)="logout()">{{'LOGOUT' | translate}}</button>
</div>

<nav>
  <a routerLink="/ViewTasks">{{"VIEW_TASKS" | translate}}</a> |
  <a routerLink="/AddTask">{{"ADD_TASKS" | translate}}</a>     |
  <a routerLink="/ViewTable">{{"VIEW_TABLE_RESULTS" | translate}}</a>
</nav>

<div *ngIf="username">
<h2>{{"HELLO" | translate}} {{username}} ({{userRole}}), {{"WELCOME_MESSAGE" | translate}}!</h2>
</div>

<div>
  <button (click)="filter = 'all'">{{"ALL" | translate}}</button>
  <button (click)="filter = 'completed'">{{"COMPLETED" | translate}}</button>
  <button (click)="filter = 'incomplete'">{{"INCOMPLETE" | translate}}</button>
  <button (click)="filter = 'low'">{{"LOW" | translate}}</button>
  <button (click)="filter = 'medium'">{{"MEDIUM" | translate}}</button>
  <button (click)="filter = 'high'">{{"HIGH" | translate}}</button>
  <button (click)="filter = 'past-due'">{{"PAST_DUE" | translate}}</button>
  <button (click)="filter = 'due-soon'">{{"DUE_SOON" | translate}}</button>
</div>

<div class="mb-3">
  <label for="sortSelect" class="form-label me-2">{{"SORT_BY" | translate}}:</label>
  <select id="sortSelect" [(ngModel)]="sortBy" class=" form-select w-auto d-inline-block">
    <option value="none">{{"NONE" | translate}}</option>
    <option value="deadline-asc">{{"DEADLINE_SOONEST" | translate}}</option>
    <option value="deadline-desc">{{"DEADLINE_LATEST" | translate}}</option>
    <option value="priority-low">{{"PRIORITY_LOW" | translate}}</option>
    <option value="priority-high">{{"PRIORITY_HIGH" | translate}}</option>
  </select>
</div>

<table mat-table [dataSource]="filteredTasks" class="mat-elevation-z8">

  <ng-container matColumnDef="check">
  <th mat-header-cell *matHeaderCellDef> {{"COMPLETED" | translate}}? </th>
  <td mat-cell *matCellDef="let task">
    <input 
      type="checkbox" 
      [checked]="task.completed" 
      (change)="toggleCompleted(task)"
    />
  </td>
</ng-container>

<ng-container matColumnDef="edit">
  <th mat-header-cell *matHeaderCellDef> {{"EDIT_TASK" | translate}} </th>
  <td mat-cell *matCellDef="let task">
    <button (click)="deleteTask(task._id)">{{"DELETE" | translate}}</button> |
    <button [routerLink]="['/EditTask', task._id]">{{"EDIT" | translate}}</button>
  </td>
</ng-container>

<ng-container matColumnDef="status">
  <th mat-header-cell *matHeaderCellDef> {{"STATUS" | translate}} </th>
  <td mat-cell *matCellDef="let task">
    <div *ngIf="isOverdue(task)" class="text-danger fw-bold">
      {{"TASK_OVERDUE" | translate}}
    </div>
    <div *ngIf="!isOverdue(task) && isDueSoon(task)" class="text-warning fw-bold">
      {{"DEADLINE_APPROACHING" | translate}}
    </div>
  </td>
</ng-container>


  <ng-container matColumnDef="description" >
    <th mat-header-cell *matHeaderCellDef> {{"DESCRIPTION" | translate}} </th>
    <td mat-cell *matCellDef="let task" [ngClass]="{ 'completed': task.completed }"> {{task.description}} </td>
  </ng-container>

  <ng-container matColumnDef="deadline">
    <th mat-header-cell *matHeaderCellDef> {{"DEADLINE" | translate}} </th>
    <td mat-cell *matCellDef="let task" [ngClass]="{ 'completed': task.completed }"> {{task.deadline | date }} </td>
  </ng-container>

  <ng-container matColumnDef="completed">
    <th mat-header-cell *matHeaderCellDef> {{"COMPLETED" | translate}} </th>
    <td mat-cell *matCellDef="let task" [ngClass]="{ 'completed': task.completed }"> {{task.completed}} </td>
  </ng-container>

  <ng-container matColumnDef="priority">
    <th mat-header-cell *matHeaderCellDef> {{"PRIORITY" | translate}} </th>
    <td mat-cell *matCellDef="let task" [ngClass]="{
    'completed': task.completed,
    'priority-high': task.priority === 'high',
    'priority-medium': task.priority === 'medium',
    'priority-low': task.priority === 'low'
  }"> {{task.priority}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" ></tr>
</table>

