.completed {
    text-decoration: line-through;
    color: grey;
}

.priority-high {
  border-left: 6px solid #dc3545; 
  padding-left: 10px;
}

.priority-medium {
  border-left: 6px solid #fd7e14; 
  padding-left: 10px;
}

.priority-low {
  border-left: 6px solid #198754; 
  padding-left: 10px;
}

.overdue {
  border-left: 4px solid red;
  padding-left: 10px;
  background-color: #ffe6e6;
}

.due-soon {
  border-left: 4px solid orange;
  padding-left: 10px;
  background-color: #fff4e5; 
}

.logout-wrapper {
  position: fixed; 
  top: 10px;       
  right: 10px;     
  z-index: 999; 
}

