<div class="logout-wrapper">
  <button (click)="logout()">{{'LOGOUT' | translate}}</button>
</div>

<nav>
  <a routerLink="/ViewTasks">{{"VIEW_TASKS" | translate}}</a> |
  <a routerLink="/AddTask">{{"ADD_TASKS" | translate}}</a>     |
  <a routerLink="/ViewTable">{{"VIEW_TABLE_RESULTS" | translate}}</a>
</nav>

<div *ngIf="username">
<h2>{{"HELLO" | translate}} {{username}} ({{userRole}}), {{"WELCOME_MESSAGE" | translate}}!</h2>
</div>

<div>
  <button (click)="filter = 'all'">{{"ALL" | translate}}</button>
  <button (click)="filter = 'completed'">{{"COMPLETED" | translate}}</button>
  <button (click)="filter = 'incomplete'">{{"INCOMPLETE" | translate}}</button>
  <button (click)="filter = 'low'">{{"LOW" | translate}}</button>
  <button (click)="filter = 'medium'">{{"MEDIUM" | translate}}</button>
  <button (click)="filter = 'high'">{{"HIGH" | translate}}</button>
  <button (click)="filter = 'past-due'">{{"PAST_DUE" | translate}}</button>
  <button (click)="filter = 'due-soon'">{{"DUE_SOON" | translate}}</button>
</div>

<div class="mb-3">
  <label for="sortSelect" class="form-label me-2">{{"SORT_BY" | translate}}:</label>
  <select id="sortSelect" [(ngModel)]="sortBy" class=" form-select w-auto d-inline-block">
    <option value="none">{{"NONE" | translate}}</option>
    <option value="deadline-asc">{{"DEADLINE_SOONEST" | translate}}</option>
    <option value="deadline-desc">{{"DEADLINE_LATEST" | translate}}</option>
    <option value="priority-low">{{"PRIORITY_LOW" | translate}}</option>
    <option value="priority-high">{{"PRIORITY_HIGH" | translate}}</option>
  </select>
</div>

<ul *ngIf="tasks.length > 0; else noTasks">
  <li *ngFor="let task of filteredTasks" [ngClass]="{'completed' : task.completed, 'priority-high' : task.priority==='high', 'priority-medium' : task.priority==='medium', 
  'priority-low' : task.priority==='low'}">
    <input 
      type="checkbox" 
      [checked]="task.completed" 
      (change)="toggleCompleted(task)"
    />
    <strong>{{ task.description }}</strong><br>
    {{"DEADLINE" | translate}}: {{ task.deadline | date }}<br>
    <div *ngIf="isOverdue(task)" class="text-danger fw-bold">
     {{"TASK_OVERDUE" | translate}}
  </div>
  <div *ngIf="!isOverdue(task) && isDueSoon(task)" class="text-warning fw-bold">
     {{"DEADLINE_APPROACHING" | translate}}
  </div>
    {{"PRIORITY" | translate}}: {{ task.priority }}<br>
    <button (click)="deleteTask(task._id)">{{"DELETE" | translate}}</button>
    <button [routerLink]="['/EditTask', task._id]">{{"EDIT" | translate}}</button>
    <button (click)="createCalendarEvent(task)" [disabled]="!isSignedInGoogle">{{"ADD_TO_CALENDAR" | translate}}</button>
    <button (click)="deleteCalendarEvent(task)" [disabled]="!isSignedInGoogle">{{"REMOVE_FROM_CALENDAR" | translate}}</button>
    <hr>
  </li>
</ul>


<ng-template #noTasks>
    <p>{{"NO_TASKS" | translate}}<a routerLink="/AddTask">{{"ADD_TASKS" | translate}}</a></p>
</ng-template>