<div class="button-group">
    <button routerLink="/">{{'REGISTER.HOME' | translate}}</button>
</div>

<h2>{{'REGISTER.REGISTER' | translate}}</h2>

<form (ngSubmit)="onSubmit()" #registerForm="ngForm">
    <label for="username">{{'REGISTER.USERNAME' | translate}}:</label>
    <input
        type="text"
        id="username"
        name="username"
        [(ngModel)]="user.username"
        required
        />
    <label for="password">{{'REGISTER.PASSWORD' | translate}}:</label>
    <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="user.password"
        required
        />

    <label for="role">{{'REGISTER.ROLE' | translate}}:</label>
    <select id="role" name="role" [(ngModel)] = "user.role">
        <option value="viewer">{{'REGISTER.ROLES.VIEWER' | translate}}</option>
        <option value="editor">{{'REGISTER.ROLES.EDITOR' | translate}}</option>
        <option value="admin">{{'REGISTER.ROLES.ADMIN' | translate}}</option>
    </select>

    <button type="submit">{{'REGISTER.REGISTER' | translate}}</button>
</form>

<p *ngIf="message">{{message}}</p>


